.purpose {

    .form-label {
        margin-bottom: 0;
    }

    input, textarea {
        border: none !important;
        background-color: #efefef;
    }

    &__title {
        font-weight: 700;
        img {
            width: 240px;
            margin-bottom: 20px;
        }
    }

    &__quote {
        display: flex;
        align-items: center;

        input {
            max-width: 170px;
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__ship {
        textarea {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    &__description {
        margin-bottom: 20px;
    }

    &__adress {
        text-align: justify;
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            max-width: 180px;
            text-align: right;
        }

        ::-webkit-input-placeholder { text-align:left; }
        input:-moz-placeholder { text-align:left; }
    }

    &__table {
        margin-bottom: 20px;

    }

    &__buttons {
        display: flex;
        justify-content: end;
        margin-left: auto;
    }

    &__total {
        display: none;
        justify-content: end;
        margin-left: auto;

        @media print {
            display: flex;
        }
    }

    &__barcode {
        display: none;
    }

    &__preview {
        display: none;

        iframe {
            height: 545px;
            width: 390px;
        }
    }

    .visible {
        display: block;
    }

    input[type='number'] {
        -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .invalid {
        border: 1px solid red
    }
}

.purposePreview__button {
    margin-left: auto !important;
}