.attached--img-container {
  position: relative;
  height: 100%;
}

.attached--list {
  padding: 0;
}
.attached--item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 105px;
  height: 90px;
}
.attached-img {
  width: 100%;
  height: 100%;
}

.attached--remove-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.attached--remove-img::before {
  content: " ";
  height: 3px;
  width: 10px;
  background-color: white;
}
.image-upload > input {
  display: none;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100%;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.attached-images--container {
  padding-top: 10px;
}
.btn.attached--upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.attached--page-subtitle {
  margin-bottom: 20px;
}
