.img-container {
  position: relative;

  width: 105px;
  height: 90px;
}

.remove-img {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.image-upload > input {
  display: none;
}
