@import "../scss-variables.scss";

.form__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form__label {
    font-weight: 600;
}

.invalid {
    box-shadow: 0 0 1px 0 #F95B5B;
}