.attached--remove-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.attached--remove-img::before {
  content: " ";
  height: 3px;
  width: 10px;
  background-color: white;
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: top 16px;
}

.thumb {
  position: relative;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 120px;
  height: 120px;
}

.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}

.attached--img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 440px) {
  .thumbsContainer {
    justify-content: center;
  }
}
