.attached--remove-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.attached--remove-img::before {
  content: " ";
  height: 3px;
  width: 10px;
  background-color: white;
}

.thumbsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: top 16px;
}

.thumb {
  position: relative;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 105px;
  height: 90px;
}

.thumbInner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}

.attached--img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 440px) {
  .thumbsContainer {
    justify-content: center;
  }
}
.dropzone {
  margin-top: 50px;
  position: relative;
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  min-width: 200px;
  max-width: 390px;
  min-height: 150px;

  margin-right: auto;
}
.upload-file--btn {
  top: -45px;
  left: 0;
  position: absolute;
}
