.purpose {
    input, textarea {
        border: none !important;
        background-color: #efefef;
    }

    &__title {
        font-weight: 700;
        img {
            width: 240px;
            margin-bottom: 20px;
        }
    }

    &__quote {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            max-width: 100px;
        }
    }

    &__ship {

        textarea {
            width: 100%;
        }
    }

    &__description {
        margin-bottom: 20px;
    }

    &__adress {
        text-align: justify;
        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            max-width: 180px;
        }
    }

    &__table {
        margin-bottom: 20px;

        input {
            max-width: 100px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: end;
        margin-left: auto;
    }
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    header,
    .breadcrumbs {
        display: none;
    }
    
    .profile-badge {
        display: none;
    }

    aside {
        visibility: hidden;
    }

    .purpose__buttons {
        display: none;
    }
}