.profile { 
  padding: 20px;
  box-shadow: 3px 3px 8px 0px rgb(228, 228, 228);
  max-width: 600px;

  @media (max-width: 480px) {
    box-shadow: none;
  }

  .row > &__list {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    font-size: 16px;
    border-bottom: 1px solid #acacac;

    @media (max-width: 480px) {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__text {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 40px;
    background: #efefef;
    border-radius: 5px;
    border-bottom: 1px solid silver;
    padding-bottom: 0;

    .form-control {
      text-align: center;
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    & input[type='file'] {
      display: none;
    }

    .image-field {
      text-align: center;
    }
  }

  &__desc {
    color: #666;

    @media (max-width: 480px) {
      margin-top: 5px;
    }
  }

  &__username {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 10px;
    font-size: 24px;
  }

  &__btn {
    margin-top: 40px;
    
    button {
      margin-left: auto;
      padding: 5px 10px;

      @media (max-width: 480px) {
        margin-right: auto;
      }
    }
  }
}

.profile__img {
  width: 120px;
  height: 120px;
  min-width: 98px;
  min-height: 98px;
  color: #000;
  background: #eeeeee;
  object-fit: cover;
  border-radius: 50%;

  &:hover,
  &-edit:hover > & {
    background: rgba(0, 0, 0, 0.288);
    cursor: pointer;
  }

  &-edit:hover {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.form__require {
  position: relative;
  &::after {
    position: absolute;
    content: '*';
    top: 0;
    right: -10px;
    color: red;
  }
}