.users-table__img {
    width: 16px;
    height: 16px;
    padding-bottom: 1px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.table-responsive {
    min-width: 320px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

@media (max-width: 870px) {

    .table-responsive .table thead {
      display: none;
    }
  
    .table-responsive .table tr {
      display: block;
    }
  
    .table-responsive .table td {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
  
    .table-responsive .table td::before {
      content: attr(data-label);
      font-weight: bold;
      margin-right: 20px;
    }
  
  }