.breadcrumbs__breadcrumb-item {
  display: inline-block;
}

.breadcrumbs__breadcrumb-item > a {
  text-decoration: none;
  color: black;
}

.breadcrumbs__breadcrumb-item:not(:last-child) > a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: black;
}

.breadcrumbs__breadcrumb-item:last-child {
  font-weight: 700;
}

.breadcrumbs__breadcrumb-item:last-child > a:hover {
  color: black;
}

.breadcrumbs__divider {
  padding: 5px;
}
