@import "../_variables";

.table-striped {
  & .rdt_Table {
    & .rdt_TableHead {
      & .rdt_TableHeadRow {
        border: none;
        & .rdt_TableCol {
          & .rdt_TableCol_Sortable {
            font-weight: 700;
            vertical-align: bottom;
            letter-spacing: 0.4px;
            font-size: 14px;
            color: $dark;
          }
        }
      }
    }
    & .rdt_TableBody {
      & .rdt_TableRow {
        border: none;
        & .rdt_TableCell {          
          font-size: 14px;
          color: $darkGray;
        }
        &:nth-of-type(odd) {
          background-color: $light;
        }
        &:hover {
          background: $softBlue;
        }
      }
    }
  }
}