.profile {
    &__item {
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        .form-label {
            margin-bottom: 0;
        }
    }

    &__text {
        position: relative;
        width: 100%;
        text-align: center;
        background: #DEDEDE;
        border-radius: 5px;
        padding-bottom: 0;

        .form-control {
            text-align: center;
        }
    }

    &__avatar {
        position: relative;

        & input[type="file"] {
            display: none;
        }
    }
}

.profile__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    color: #000;
    background: #eeeeee;

    &-edit {
        .profile__placeholder {
            position: absolute;
            width: 16px;
            height: 16px;
            z-index: 10;
            visibility: hidden;
        }
    }

    &:hover,
    &-edit:hover > & {
        background: #000;
        cursor: pointer;
    }

    &-edit:hover {
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 86px;
        height: 86px;
        border-radius: 50%;
        cursor: pointer;
    }
}