<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pdf.css">
    <title>pdf</title>
</head>

    <div class="purpose">
        <div class="purpose_title">
            <div class="purpose_logo">
                <div>
                    <img src="../../../assets/img/waites-block-logo-yellow-background.png" alt="">
                </div>
            </div>
            <div class="purpose_adress">
                Waites Sensor Techologies, Inc.<br/>
                20 W. 11th St. Suite 200<br/>
                Covington, KY 41011<br/>
                <div class="purpose_contact">(800)574-9248 <div class="purpose_contact-braek"></div> www.waites.net</div>
            </div>
        </div>
        <div class="purpose_form">
            <div class="purpose_shipment">
                <div class="purpose_quote">
                    <h2 class="purpose_quote-title">
                        Quote #
                    </h2>
                    <div class="quote">
                        Q4353
                    </div>
                </div>
                <div class="purpose_ship">
                    <div class="purpose_shipment-title">
                        Bill to
                    </div>
                    <div class="purpose_shipment-desc">
                        Bill Bill Bill Bill Bill
                    </div>
                    <div class="purpose_shipment-title">
                        Ship to
                    </div>
                    <div class="purpose_shipment-desc">
                        Ship Ship Ship Ship Ship
                    </div>
                </div>
            </div>
            <div class="purpose_description">
                <div class="purpose_info">
                    <div class="purpose_info-title">
                        Date
                    </div>
                    <div id="date">
                        Date
                    </div>
                </div>
                <div class="purpose_info">
                    <div class="purpose_info-title">
                        Expires
                    </div>
                    <div id="expires">
                        Expires
                    </div>
                </div>
                <div class="purpose_info">
                    <div class="purpose_info-title">
                        Memo
                    </div>
                    <div id="memo">
                        Memo
                    </div>
                </div>
            </div>
        </div>
        <div class="purpose_table">
            <div class="purpose_table-title" for="table">
                Email orders to orders@waites.net
            </div>
            <table id="table">
                <tr class="table_head">
                    <th>Item</th>
                    <th>Description</th>
                    <th>Units</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>fasdfdfdf</td>
                    <td>dsafasdfdsa</td>
                    <td>fdsfdsff</td>
                    <td>dfasfddsf</td>
                    <td>dsfasdfsdf</td>
                    <td>sdafdsafsaf</td>
                </tr>
            </table>
        </div>
        <div class="total">
            Total: $21321
        </div>
        <div class="purpose_barcode">
            <img src="../../../assets/img/0f2e9792efcf90c199ac516320a35374317c1ce6.png" alt="">
            <div class="barcode">
                Q4353
            </div>
        </div>
        <div class="purpose_subadress">
            20 W. 11th St.<br/> 
            Suite 200<br/>
            Covington, KY 41011<br/>
            United States<br/>
        </div>
    </div>

</html>