@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-shadow: none;
    text-shadow: none;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  padding-right: 0 !important;
}

.purpose {
    padding: 20px;
}

.purpose_title {
    justify-content: space-between;
    width: 100%;
}

.purpose_logo {
    float: left;
    width: 40%;
    margin-right: 40px;
}

.purpose_logo img {
    width: 280px;
    margin-bottom: 20px;
}

.purpose_adress {
    float: right;
    width: 40%;
}

.purpose_contact {
    margin: 20px 0;
}

.purpose_contact-braek {
    display: inline-block;
    width: 25px;
}

.purpose_quote {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.purpose_quote-title {
    float: left;
    width: 50%;
}

.purpose_quote .quote {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 20px;
}

.purpose_form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.purpose_shipment {
    float: left;
    width: 40%;
    margin-right: 40px;
}

.purpose_shipment-title {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.purpose_shipment-desc {
    float: left;
}

.purpose_ship {
    min-height: 100px;
    margin-top: 10px;
}

.purpose_info {
    max-width: 250px;
}

.purpose_info-title {
    padding: 10px 0;
    float: left;
    text-align: left;
    width: 30%;
}

.purpose_info-desc {
    padding: 10px 0;
    width: 70%;
    text-align: right;
    margin-left: auto;
}

.purpose_info label{
    float: right;
    min-width: 100px;
}

.purpose_description {
    float: right;
    width: 40%;
}

.purpose_table-title {
    margin-bottom: 10px;
    margin-top: 40px;
}

.total {
    width: 100%;
    margin-top: 20px;
    text-align: right;
}

.purpose__bottom {
    margin-top: 100px;
    max-width: 400px;
}

.purpose_barcode {
    float: left;
    max-width: 200px;
    margin-top: 40px;
}

.barcode {
    margin-left: 30px;
}

.purpose_subadress {
    float: right;
    width: 150px;
    margin-left: 100px;
}

table {
    width: 100%; 
    font-size: 10pt; 
    border-collapse: collapse;
}

table.items {
	border: 0.1mm solid #000000;
}
td { vertical-align: top; }
.items td {
    padding: 5px;
	border-left: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
table thead td { background-color: #EEEEEE;
	text-align: center;
	border: 0.1mm solid #000000;
	font-variant: small-caps;
}
.items td.blanktotal {
	background-color: #EEEEEE;
	border: 0.1mm solid #000000;
	background-color: #FFFFFF;
	border: 0mm none #000000;
	border-top: 0.1mm solid #000000;
	border-right: 0.1mm solid #000000;
}
.items td.totals {
	
	border: 0.1mm solid #000000;
}
.items td.cost {
	text-align: "." center;
}