@import "../../../../scss/scss-variables.scss";

.formUser {
    padding: 20px;
}

.formUser__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.formUser__label {
    font-weight: 600;
}

.formUser__submit {
    background-color: $success !important;
    border: none !important;
}

.formUser__cancel {
    background-color: $default !important;
    border: none !important;
}