.page--information {
  padding-top: 20px;
  padding-bottom: 20px;
}

.information--item {
  width: fit-content;

  padding: 5px 15px;
  background: #dedede;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
}
.information--list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.information--item:not(:last-child) {
  margin-bottom: 1rem;
}
