.page--information {
  padding-top: 20px;
  padding-bottom: 20px;
}

.information--item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 5px 15px;
  background: #dedede;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  border-radius: 4px;
}
