.page--information {
  padding-top: 20px;
  padding-bottom: 20px;
}

.information--item {
  display: flex;
  height: 40px;
}
.information--list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.information--item:not(:last-child) {
  margin-bottom: 5px;
}
.information--item .ui-kit__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;

  height: 100%;
  padding: 8px;
  width: fit-content;
  background-color: #dedede;
  color: black;
}
.information--item .field-value {
  background-color: white;
}
