.breadcrumbs__breadcrumb-item {
  display: inline-block;
}

.breadcrumbs__breadcrumb-item > a {
  text-decoration: none;
  color: black;
}

.breadcrumbs__breadcrumb-item:not(:last-child) > a:hover {
  text-decoration: underline;
  text-shadow: 0 0 1px black, 0 0 1px black;
  color: black;
}

.breadcrumbs__breadcrumb-item:last-child {
  text-shadow: 0 0 1px black, 0 0 1px black;
}

.breadcrumbs__breadcrumb-item:last-child > a:hover {
  color: black;
}

.breadcrumbs__divider {
  padding: 5px;
}

.breadcrumbs {
  margin-bottom: 15px;
}
