@import "./scss-variables.scss";

.entity-page {
  .entity-information {
    display: flex;
    align-items: center;
  }
  .entity-name__container {
    margin-right: 30px;
    width: 20%;
  }
  &--header {
    min-height: 100px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  &--section {
    padding-top: 15px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &--img {
    width: 120px;
    max-height: 100px;
  }

  .main-img--container {
    position: relative;
    z-index: 2;
    margin-right: 45px;
    min-height: 80px;
    max-height: 105px;
  }

  .page--information {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .information__container {
    position: relative;
    max-width: 400px;

    &::before {
      content: "";
      position: absolute;
      background: black;
      width: 1px;
      height: 90px;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .information--item {
    margin-bottom: 20px;
    margin-right: 50px;
    .field-name {
      padding: 8px;
      border-radius: 5px;
      background-color: $default;
      margin-right: 5px;
      font-weight: 500;
    }
    .ui-kit__badge {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      word-wrap: break-word;
      font-weight: 500;
      height: 100%;
      font-size: 0.9rem;
      padding: 3px 6px;
      border-radius: 5px;
      margin-bottom: 2px;
      display: inline-block;
      white-space: nowrap;
      background: $default;
      color: black;
    }
    .ui-kit__badge.field-value {
      font-weight: 400;
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      background-color: white;
      text-transform: none;
      margin-left: 5px;
      color: black;
    }
  }
  .information--list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-right: -20px;
  }
  .not-found-banner {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: black;
  }
}

.page-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.page-subtitle {
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}
