.entity-page--header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
.entity-page--section {
  padding-top: 15px;
}

.main-img--container {
  position: relative;
  z-index: 2;
  width: 105px;
  height: 90px;
  margin-right: 15px;
}
.entity-page--img {
  width: 100%;
  height: 100%;
}

.page-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}
.page-subtitle {
  text-transform: capitalize;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}

.attached-files--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: -20px;
}
.attached-files--item {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .attached-files--item {
    max-width: 380px;
    margin-right: 20px;
  }
  .attached-files--list {
    flex-direction: row;
  }
}
