@import "./scss-variables.scss";

.dashboard {
  &.container-fluid {
    padding: 0;
    display: grid;
    grid-template-columns: 280px auto;
    box-sizing: border-box;
  }

  & > .row {
    margin: 0;
  }

  section {
    padding: 0;
  }

  main {
    padding: 15px;
  }

  @media (max-width: 750px) {
    &.container-fluid {
      grid-template-columns: 60px auto;
    }
    main {
      padding: 3px;
    }
  }
}
