.dashboard-page__section {
  margin-bottom: 20px;
}

.dashboard-page__block-wrapper {
  display: flex;
  gap: 15px;
}

.dashboard-page__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  border-radius: 4px;
  padding: 10px 50px;
  width: 100%;
  background-color: white;
}

.dashboard-page__block > span {
  font-weight: bold;
}

.dashboard-page__block .dashboard-page__block-edit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 0;
  padding-left: 3px;
}

.dashboard-page__block .dashboard-page__block-view {
  padding: 5px 20px;
  font-size: 0.6em;
}
