.edit-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  & .edit-img__menu {
    min-width: unset;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    & p {
      margin-bottom: 0;
    }
    & img {
      width: 100px;
      height: 100px;
    }
    & .edit-img__menu.show {
      display: flex !important;
    }
  }
}

.edit-img button {
  border: 0;
  & button:hover,
  & button:active,
  & button:focus,
  & button:active:focus {
    border: 0;
    box-shadow: none;
  }
}
.edit-img__btn {
  background: transparent;
  & img {
    padding: 4px;
    background-color: black;
    border-radius: 25px;
  }
}

@media (max-width: 400px) {
  .edit-img__menu {
    flex-direction: column;
  }
}

.edit-img__icon {
  font-size: 12px;
  padding: 6px;
  border-radius: 50%;
  background-color: black;
  color: white;
}
