@import "./scss-variables.scss";

.dashboard {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: $main-primary;
    height: 60px;
    padding: 0 15px;
    position: sticky;
    top: 0;

    .selected-customer {
      justify-self: center;
      font-weight: bold;
      font-size: 20px;
    }

    .profile-badge {
      justify-self: end;
    }

    .profile-badge__toggle {
      position: relative;
      background: black;
      border: 0;
      padding: 20px;
      border-radius: 50px;

      &:hover {
        box-shadow: 0 0 5px black;
      }

      &:active,
      &:focus {
        box-shadow: none;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .dropdown-menu a {
      display: block;
      text-decoration: none;
      color: black;

      &:active {
        color: white;
      }
    }

    .burger-btn {
      border: 0;
      background: transparent;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}
