@import "./scss-variables.scss";

.info-card_group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  padding: 0 15px 15px 15px;
}

.info-card-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}

.info-card .info-card__edit {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px 3px 3px 5px;
}

.info-card > input {
  position: absolute;
  top: 10px;
  right: 10px;
}

.info-card__body {
  display: flex;
}

.info-card__body img {
  width: 116px;
  height: 116px;
  border-radius: 4px 0 0 0;
}

.info-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  width: 100%;
}

.info-card__info > *:not(:last-child) {
  margin-bottom: 7px;
}

.info-card__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.info-card__btns-one {
  justify-content: center;
}

.info-card__btns > button {
  padding: 4px 30px;
  border-radius: 2px;
}

.info-card__btns > a {
  padding: 4px 30px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  background-color: $primary;
  border: 1px solid transparent;
}

.info-card__btns > a:hover {
  color: white;
  border: 1px solid black;
}

.info-card .progress {
  border-radius: 0 0 4px 4px;
  height: 7px;
}

.info-card .progress .progress-bar {
  background-color: $success;
}
.info-card__name {
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Dense style */
.info-card_group.dense {
  grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
  justify-items: center;
}

.info-card_group.dense > .info-card {
  min-width: 116px;
  max-width: 116px;
}

.info-card_group.dense > .info-card > .info-card__body {
  flex-direction: column;
}

.info-card_group.dense
  > .info-card
  > .info-card__body
  > .info-card__info
  > .info-card__btns {
  flex-direction: column;
}

.info-card_group.dense > .info-card > img {
  width: 100%;
  height: 100%;
}

.info-card_group.dense > .info-card > .info-card__body > h4 {
  height: 54px;
}
