.network {
  .list__title h3 {
    font-size: 22px;
  }
  .accordion {
    width: 100%;
  }

  .accordion__headers {
    display: flex;
    gap: 15px;
  }

  .accordion__headers .accordion-header {
    width: 100%;
  }

  .card-body {
    padding: 0.7rem 0.7rem !important;
  }
}
