@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding-right: 0 !important;
}

input {
  outline: none !important;
}

ul {
  list-style: none;
}

.text-danger.hidden {
  visibility: hidden;
}

/* Modal */
.modal-header {
  position: relative;
}

.modal-body {
  max-height: 700px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.modal-body > form > div > div {
  position: relative;
}

.modal-body > form > div small {
  position: absolute;
  top: -20px;
  right: 0;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background-color: transparent;
}
