@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  padding-right: 0 !important;
}

input {
  outline: none !important;
}

ul {
  list-style: none;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
