.ui-kit__category-wrapper {
  display: flex;
  gap: 10px;
  max-width: 650px;
  flex-wrap: wrap;
}

h1 {
  font-weight: bold;
}

.ui-kit__type-btn {
  border: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.ui-kit__type-btn:hover {
  border: 1px solid black;
}

.ui-kit__btn {
  border: 0;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent;
}

.ui-kit__btn:hover {
  border: 1px solid black;
}

.ui-kit__badge {
  width: 70px;
  height: 25px;
  border-radius: 4px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.ui-kit__input {
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.ui-kit__input:hover,
.ui-kit__input:focus {
  border: 1px solid black;
}

.ui-kit__input:disabled:hover {
  border: 1px solid #ced4da;
}

.ui-kit__select {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.ui-kit__select:hover,
.ui-kit__select:focus {
  border: 1px solid black;
}

.ui-kit__select:invalid {
  color: gray;
}

.ui-kit__select::after {
  color: black;
}

.ui-kit__textarea {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px 15px;
}

.ui-kit__textarea:hover,
.ui-kit__textarea:focus,
.ui-kit__textarea:active {
  outline: none;
  border: 1px solid black;
}
